
form {
    position: fixed;
    bottom: 1ex;
    left: 1ex;
    padding: 1ex;
    background-color: white;
    z-index: 1;
}

#image-container div {
    float: left;
    padding: 1ex;
}

#image-container img {
    height: 250px;
}

#image-container {
    float: left;
    border: solid 0.2em;
}

#google-map-container {
    height: 20em;
    width: 20em;
    float: left;
}

.image-info img {
    max-height: 300px;
    max-width: 300px;
}

#error-board {
    float: left;
    color: red;
    font-weight: 600;
    border: solid 0.2em;
    margin: 1ex;
    padding: 1ex;
}
