
#image-container div {
    float: left;
    padding: 1ex;
}

#image-container img {
    height: 250px;
}

form {
    position: fixed;
    bottom: 1ex;
    left: 1ex;
    padding: 1ex;
    background-color: white;
    z-index: 1;
}

#google-map-container {
    height: 40em;
    width: 30em;
}
